body {
    margin-top: 20vw;
    margin-left: 20vw;
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: white;
    font-size: 30vw;
}

h2 {
    color: white;
}

a {
    color: #005766;
    text-decoration: none
}
  
p {
    
    font-size: 20vw;
}
