/* ROOT CSS */

@font-face {
  font-family: 'Cutive Mono';
  font-display: swap;
  src: url('cutivemono.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  src: url('OpenSans-Light.ttf');
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("images/stripesbkg100.png");
}

main {
  max-width: 740pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20pt;
  margin-bottom: 0;
  color: black;
  font-size: 1em;
  font-family: 'Open Sans', 'Courier New', monospace;  
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: orange;
  color: white;
}

::selection {
  background-color: orange;
  color: white;
}

p {
  margin: 0;
  color: black;
  font-size: 1.15em;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-family: 'Cutive Mono', 'Courier New', monospace;
  font-display: swap;
  font-size: 3em;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-family: 'Cutive Mono', 'Courier New', monospace;
  font-display: swap;
  padding-bottom: 3pt;
  padding-bottom: 10pt;
  font-size: 1.5em;
  color: #a8faf4;
}

/* MAIN SECTIONS CSS */

header {
  padding: 20pt;
  padding-top: 12pt;
  font-family: 'Cutive Mono', 'Courier New', monospace;
  background-color: rgb(129, 194, 216);
}

nav {
  padding: 20pt;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(154, 211, 230);
  font-size: 2.0em;
  font-family: 'Cutive Mono', 'Courier New', monospace;
}

#intro {
  padding: 20pt;
  background-color: rgb(173, 221, 236);
}

footer {
  padding: 20pt;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  background-color: rgb(129, 194, 216);
}

/* HEADER CSS */

#name {
  font-size: 6em;
  display: flex;
  align-items: baseline;
}

#email {
  display: flex;
  align-items: baseline;
  font-size: 3.5em;
}

#emailglyph {
  content:url("images/arrowLR.svg");
  width:38px;
  height:38px;
  padding-right: 24pt;
  padding-left: 8pt;
  font-display: block;
  color: #aadbe7;
  filter: invert(0.7) sepia(1) hue-rotate(78deg) saturate(0) brightness(4);
}

/* NAV CSS */

nav ul {
  /* remove defaults */
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* actual style */
  padding-right: 1.5em;
  align-content: flex-start;
}

nav li {
  display: flex;
  align-items: baseline;
}

#linkglyph {
  padding-right: 16pt;
  width:24px;
  color: rgb(0, 167, 209);
}

/* PROJECTS CSS */

#project {
  display: flex;
  background-color: rgb(73, 202, 181);
}

#projectglyph {
  content:url("images/arrowLR.svg");
  width: 28px;
  height: 28px;
  padding-right: 20pt;
  font-display: block;
  filter: invert(0.8) sepia(1) hue-rotate(78deg) saturate(5.5) brightness(20) opacity(90%);
  font-size: 2.5em;
}

#project1 {
  display: flex;
  /*flex-wrap: wrap-reverse;*/
  flex-direction: row-reverse;
  justify-content: flex-end;
  background-color: rgb(73, 202, 181);
}

#project2 {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  background-color: rgb(73, 202, 137);
}

#project3 {
  display: flex;
  /*flex-wrap: wrap-reverse;*/
  flex-direction: row-reverse;
  justify-content: flex-end;
  background-color: rgb(73, 202, 94);
}

figure {
  /* remove defaults */
  margin: 0;
  /* actual style */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 10;
  background-color: #073035;
}

#copy {
  /*max-width: 400pt;*/
  padding: 20pt;
  display: flex;
  align-items: baseline;
}

#head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#rest {
  flex-grow: 10;
}

#navglyph { 
  display: inline;
  font-display: block;
  padding-left: 1em;
}

#githubicon {
  content:url("images/github-32.png");
  height: 26px;
  width: 26px;
}

#tumblricon {
  content:url("images/tumblr-32.png");
  height: 26px;
  width: 26px;
}