/* ROOT CSS */

@font-face {
  font-family: 'Cutive Mono';
  font-display: swap;
  src: url('cutivemono.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  src: url('OpenSans-Light.ttf');
}

body {
  margin: 0;
  margin-left: 60px; /*hack*/
  margin-top: 40pt;
  display: flex;
  flex-direction: column;
  /*gap: 2em;*/
  justify-content: center;
  background-image: url("images/stripesbkg100.png");
  color: #fff;
  font-family: 'Cutive Mono', 'Courier New', monospace;
}

header {
  color: #999;
  max-width: 41em;
  padding: 2em;
  margin-bottom: 2em;
  padding-top: 12pt;
  background-color: #2226;
  border-radius: 0 30px 0 30px;
}

header h1{
  color: #eee;
  font-weight: bold;
  font-size: 3em;
}
  
footer {
  color: #999;
  max-width: 41em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  padding-top: 12pt;
  background-color: #2226;
  border-radius: 0 30px 0 30px;
}

main {
    max-width: 81em;
    display: grid;
    grid-gap: 2em;
}

main p {
  vertical-align: middle;
  margin: 0;
  color: #ccc;
  font-size: 1.15em;
  font-family: 'Open Sans', 'Courier New', monospace;
}

main p::first-letter {
  color: white;
}

main section {
    padding: 2em;
    background-color: #1b1d21;
    border-radius: 0 30px 0 30px;
    box-shadow: 0.3em 0.3em #444;
}

main section#s1 {
    display: flex;
    justify-content: center;
    /*gap: 2em;*/
}
main section#s1 img {
    /*border: solid 2px #888 ;*/
    margin: 1em;
    box-shadow: 0.14em 0.14em #444;
    border-radius: 1.2em;
    width: 24em;
    align-self: flex-start; /* hack for safari */
}

main section#s1 video {
  /*border: solid 2px #888 ;*/
  margin: 1em;
  box-shadow: 0.14em 0.14em #444;
  border-radius: 1.2em;
  align-self: flex-start; /* hack for safari */
}

main section#s1 p {
  margin: 1em;
}


#s33 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*gap: 0.5em;*/
}

#s33 > span {
  display: flex;
  flex-direction: column;
  /*gap: 0.5em;*/
}

#s33 img {
  /*border: solid 2px #888 ;*/
  box-shadow: 0.14em 0.14em #444;
  border-radius: 1.2em;
}

#s5 div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*gap: 1.2em;*/
}
 #s5 div img {
  box-shadow: 0.14em 0.14em #444;
  border-radius: 0 1.2em 0 1.2em;
}

img.wide {
  align-self: flex-start; /* hack for safari */
  width: 77em;
}
img.half {
  margin: 0.75em;
  align-self: flex-start; /* hack for safari */
  width: 37em;
}
img.third {
  align-self: flex-start; /* hack for safari */
  width: 24em;
}

p {
  margin: 0;
  color: black;
  font-size: 1.15em;
  font-family: 'Open Sans', 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: orange;
  color: white;
}

::selection {
  background-color: orange;
  color: white;
}

h1 {
  margin: 0;
  font-size: 6em;
  font-weight: normal; 
}

h2 {
  margin: 0;
  font-size: 3.5em;
  font-weight: normal;
}